form.rjsf .field label:after {
  display: none !important;
}
form.rjsf .form-group .form-group {
  border-top: none;
}
form.rjsf .form-group {
  padding: 0 !important;
}
form.rjsf .form-group:not(.field) + .form-group.field {
  border-top: none !important;
}
form.rjsf .children select {
  background: #fff;
}
form.rjsf .children input {
  line-height: 1 !important;
  padding: 6px !important;
  height: unset !important;
}
form.rjsf fieldset {
  box-shadow: 0 0 0 transparent !important;
  margin: 0 !important;
  align-items: center;
}
form.rjsf .param {
  display: flex !important;
  flex-flow: wrap row !important;
  padding: 1em 0 !important;
}
form.rjsf .param > .label {
  flex: 1 20%;
}
form.rjsf .param > .description {
  flex: 1 40%;
  max-width: 40%;
  margin: 0 0 0 1em;
}
form.rjsf .param > .description:empty {
  display: none;
}
form.rjsf .param > .children {
  flex: 1 30%;
  text-align: right;
}
form.rjsf .param > .label {
  text-align: left;
}
@media (max-width: 1200px) {
  form.rjsf .param > .description {
    flex: auto !important;
    width: 100% !important;
    margin: 0.75em 0 0 !important;
    max-width: unset;
  }
  form.rjsf .param:not(.field-array) > .description {
    order: 999 !important;
  }
}
form.rjsf .param .label {
  display: flex;
  flex-flow: wrap row;
  align-items: center;
}
form.rjsf .param .label-name {
  font-weight: bold;
}
form.rjsf .param .label-required {
  color: red;
}
form.rjsf .param .label-type {
  padding: 3px;
  margin: 2px 0 0 0.5em;
  color: rgba(0, 0, 0, 0.6);
  content: "string";
  background: #f7f7f7;
  border-radius: 3px;
  font-family: "Proxima Nova", sans-serif;
  font-size: 11px;
  font-weight: lighter;
  margin-right: auto;
}
form.rjsf .param .label > .description {
  flex: 0 100%;
  margin-top: 0.5em;
}
@media (min-width: 1200px) {
  form.rjsf .param.field-array .description {
    margin-right: 30%;
  }
}
form.rjsf .param.field-array > .children,
form.rjsf .param.field-object > .children {
  margin: 0 0;
  padding: 0;
  background: #f7f7f7;
  border-radius: 6px;
}
form.rjsf .param.field-object > .children {
  padding: 0 1em;
}
form.rjsf .param.field-array > .children {
  margin: 1em 0 0;
}
@media (max-width: 1200px) {
  form.rjsf .param.field-array > .children,
form.rjsf .param.field-object > .children {
    flex: auto;
    width: 100% !important;
    margin: 1em 0 0;
  }
}
form.rjsf .children .children {
  background: transparent !important;
}
form.rjsf .param.field-array > .children .row,
form.rjsf .param.field-object > .children .row {
  padding: 0 0 0 1em;
}
form.rjsf .param.field-array > .children .row:empty,
form.rjsf .param.field-object > .children .row:empty {
  display: none;
}
form.rjsf .param.field-array > .children .row:last-child,
form.rjsf .param.field-object > .children .row:last-child {
  margin: 0;
  padding: 0.75em 0;
}
form.rjsf .param.field-array > .children .row:not(:empty) + .row:last-child,
form.rjsf .param.field-object > .children .row:not(:empty) + .row:last-child {
  padding-top: 0;
}
form.rjsf .param.field-array > .children .array-item,
form.rjsf .param.field-object .object-property-expand {
  display: flex;
}
form.rjsf .param.field-array > .children .array-item > *,
form.rjsf .param.field-object .object-property-expand {
  flex: 0 auto;
}
form.rjsf .param.field-array > .children .array-item > .col-xs-9 {
  flex: 1;
}
form.rjsf .param.field-array > .children .array-item + .array-item {
  border-top: 1px solid #e3e3e3;
}
form.rjsf .param .row .btn.btn-add {
  margin: 0;
}
form.rjsf .param.field-array > .children .array-item-add, form.rjsf .param.field-array > .children .array-item-add .btn {
  margin: 0 0 0 5px;
}
form.rjsf .field fieldset {
  position: relative;
}
form.rjsf .field-object > .children legend,
form.rjsf .field-array > .children legend {
  flex: auto;
  font-size: 0.8em;
  text-align: right;
  background: linear-gradient(to bottom, white 25%, #f7f7f7 75%);
  margin: 0 0 0 !important;
  transform: translate(4px, -50%);
  padding: 4px;
}
form.rjsf .field-object > .children legend:not(:only-child),
form.rjsf .field-array > .children legend:not(:only-child) {
  position: absolute;
  right: 0;
  font-weight: normal;
  color: #999;
}
form.rjsf .field-array > .children legend {
  transform: translate(-4px, -50%);
}
form.rjsf .children legend {
  display: none;
}
form.rjsf .children .children legend {
  display: inline-block;
  background: #f7f7f7 !important;
}
form.rjsf .children legend:after {
  display: none !important;
}
form.rjsf .param.field-object > .children .field-description,
form.rjsf .param.field-array > .children .field-description {
  display: none;
}
form.rjsf .array-item-list {
  margin: 0;
}
@media (max-width: 1200px) {
  form.rjsf .field-array > .children .array-item-list .param > .children {
    flex: 1 80%;
  }
}
form.rjsf .field-array > .children .array-item-list .param > .label {
  position: relative;
  flex: 0;
}
form.rjsf .field-array > .children .array-item-list .param .label-type {
  margin-left: 0;
}
form.rjsf .field-array > .children .array-item-list .param .label-required {
  position: absolute;
  left: 100%;
  top: 50%;
  transform: translateY(-50%);
}
form.rjsf .param.field-object > .children > fieldset > .form-group {
  border-left: 0;
}
form.rjsf .param.field-object > .children .label {
  display: flex !important;
  flex: 1;
}
form.rjsf .param.field-object > .children .label > * {
  margin: 0;
}
form.rjsf .param.field-array > .children,
form.rjsf .param.field-object > .children {
  flex: 0 100%;
  margin-top: 0.5em;
}
form.rjsf .field-object .children .field-object > .children,
form.rjsf .field-array .children .field-object > .children,
form.rjsf .field-object .children .field-array > .children,
form.rjsf .field-array .children .field-array > .children {
  border: 1px solid #e3e3e3;
}
form.rjsf select[id*=_anyof_] {
  margin: 1em 0 0.5em !important;
}
form.rjsf .field-array > .children legend {
  transform: translate(-4px, -50%);
}
form.rjsf .children .children legend {
  background: #f7f7f7 !important;
}
form.rjsf .children legend:after {
  display: none !important;
}
form.rjsf .field .children .field-array {
  padding-top: 0 !important;
}
form.rjsf .field .children .field-array > .label {
  display: none !important;
}
form.rjsf .form-group.field-object > .children > [id^=root_object] > .form-group:first-of-type {
  margin-top: 4px;
}
form.rjsf .form-group.field-object > .children > [id^=root_object] > .form-group ~ .row:last-child {
  margin-bottom: 0.5rem;
}
form.rjsf .row button.btn-add {
  background: #1FC79F;
  color: #fff;
  transform: none !important;
  padding: 0.4em 0.9em 0.35em !important;
  line-height: 1.2;
  border-radius: 18px;
  border: 1px solid rgba(0, 0, 0, 0);
  transition: 0.2s ease-out;
}
form.rjsf .row button.btn-add:focus,
form.rjsf .row button.btn-add:hover {
  border: 1px solid rgba(0, 0, 0, 0.15);
  box-shadow: 0 1px 3px -1px rgba(0, 0, 0, 0.2);
}
form.rjsf .row button.btn-add:active {
  color: rgba(255, 255, 255, 0.88);
  border: 1px solid rgba(0, 0, 0, 0.15);
  box-shadow: inset 1px 1.5px 4px -1px rgba(0, 0, 0, 0.15);
}
form.rjsf .row button.btn-add:after {
  content: "Add" !important;
}
form.rjsf .row button.btn-add .glyphicon {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: 0.9em;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  transform: translate(0, 0);
  margin-right: 0.3em;
}
form.rjsf .row button.btn-add .glyphicon:before {
  content: "ï§";
}
form.rjsf .row:last-child > p[class*=item-add] button.btn-add {
  margin-left: 0 !important;
}
form.rjsf .col-xs-3.array-item-toolbox {
  margin: 0 auto;
}
