/** 
    Copied by https://gist.github.com/0i0/3095040
*/
.CodeMirror-scroll {
    height: 100%;
    min-height:300px;
}
.cm-s-tomorrow-night{
    font-family:'Menlo', 'Consolas', "Vera Mono", monospace;
    font-size:12px;
}
.cm-s-tomorrow-night { background: none; color: hsl(140,2%,77%); }
.cm-s-tomorrow-night div.CodeMirror-selected { background: hsl(216, 8%, 24%) !important; }
.cm-s-tomorrow-night .CodeMirror-gutter { background: hsl(210,6%,12%); border-right: 1px solid hsl(0, 0%, 19%); }
.cm-s-tomorrow-night .CodeMirror-gutter-text { color: hsl(0, 0%, 29%); }
.cm-s-tomorrow-night .CodeMirror-cursor { border-left: 1px solid white !important; }
.cm-s-tomorrow-night span.cm-comment { color: hsl(120,0%,59%); }
.cm-s-tomorrow-night span.cm-atom { color: #845dc4; }
.cm-s-tomorrow-night span.cm-number, .cm-s-tomorrow-night span.cm-attribute { color: hsl(24,65%,62%); }
.cm-s-tomorrow-night span.cm-keyword { color: hsl(286,22%,65%); }
.cm-s-tomorrow-night span.cm-string { color: hsl(65,39%,57%); }
.cm-s-tomorrow-night span.cm-meta { color: hsl(171,28%,64%); }
.cm-s-tomorrow-night span.cm-variable-2, .cm-s-tomorrow-night span.cm-tag { color: hsl(39,80%,69%); }
.cm-s-tomorrow-night span.cm-variable-3, .cm-s-tomorrow-night span.cm-def { color: hsl(39,80%,69%); }
.cm-s-tomorrow-night span.cm-error { color: hsl(0,50%,60%); }
.cm-s-tomorrow-night span.cm-bracket { color: hsl(0, 0%, 50%); }
.cm-s-tomorrow-night span.cm-builtin, .cm-s-tomorrow-night span.cm-special { color:hsl(207,31%,62%); }
.cm-s-tomorrow-night span.cm-link { color: hsl(207,31%,62%); }
.cm-s-tomorrow-night span.cm-operator { color: rgb(124, 124, 124); }
color:/*tomorroe-night-Background*/hsl(210,6%,12%)!important;
color:/*tomorroe-night-CurrentLine*/hsl(236, 10%, 33%)!important;
color:/*tomorroe-night-Selection*/hsl(216, 8%, 24%)!important;
color:/*tomorroe-night-Foreground*/hsl(140,2%,77%)!important;
color:/*tomorroe-night-Comment*/hsl(120,0%,59%)!important;
color:/*tomorroe-night-Red*/hsl(0,50%,60%)!important;
color:/*tomorroe-night-Orange*/hsl(24,65%,62%)!important;
color:/*tomorroe-night-Yellow*/hsl(39,80%,69%)!important;
color:/*tomorroe-night-Green*/hsl(65,39%,57%)!important;
color:/*tomorroe-night-Aqua*/hsl(171,28%,64%)!important;
color:/*tomorroe-night-Blue*/hsl(207,31%,62%)!important;
color:/*tomorroe-night-Purple*/hsl(286,22%,65%)!important;
