.simple-dropdown {
  position: relative;
}
.simple-dropdown > div {
  display: none;
  border: 0 none;
  box-shadow: 0 2px 5px rgba(0,0,0,0.15), 0 0 1px rgba(0,0,0,0.2);
  padding: 2px 10px;
  border-radius: 3px;
  z-index: 100;
  background-color: #fff;
  padding: 9px 7px;
  position: absolute;
  margin-top: 10px;
  right: 0;
  min-width: 210px;
  transform-origin: 100% 0;
}
.simple-dropdown > div .triangle {
  top: -14px;
  right: 8px;
  left: auto;
  content: "";
  display: block;
  width: 0;
  height: 0;
  border: solid 7px;
  border-color: transparent;
  position: absolute;
  border-bottom-color: rgba(0,0,0,0.1);
  margin-left: -11px;
}
.simple-dropdown > div .triangle:before {
  content: " ";
  display: block;
  width: 0;
  height: 0;
  border: solid 6px;
  border-color: transparent;
  position: absolute;
  border-bottom-color: #fff;
  border-top-width: 0;
  top: 1px;
  margin-left: -6px;
}
.simple-dropdown > div.nopad {
  padding: 0;
}
.simple-dropdown.open > div {
  display: block;
  animation: 0.4s bounce;
}
@-moz-keyframes bounce {
  0% {
    opacity: 0;
    transform: scale(0);
  }
  73% {
    transform: scale(1.07);
  }
  100% {
    opacity: 100%;
    transform: scale(1);
  }
}
@-webkit-keyframes bounce {
  0% {
    opacity: 0;
    transform: scale(0);
  }
  73% {
    transform: scale(1.07);
  }
  100% {
    opacity: 100%;
    transform: scale(1);
  }
}
@-o-keyframes bounce {
  0% {
    opacity: 0;
    transform: scale(0);
  }
  73% {
    transform: scale(1.07);
  }
  100% {
    opacity: 100%;
    transform: scale(1);
  }
}
@keyframes bounce {
  0% {
    opacity: 0;
    transform: scale(0);
  }
  73% {
    transform: scale(1.07);
  }
  100% {
    opacity: 100%;
    transform: scale(1);
  }
}

