{
  "presets": [
    ["@babel/preset-env", {
      "targets": {
        "browsers": ["last 2 versions"]
      }
    }],
    "@babel/preset-react",
  ],
  "plugins": ["./arrow-function-coverage-fix.js"],
}
