{
  "parser": "babel-eslint",
  "extends": ["airbnb", "prettier"],
  "env": {
    "browser": true
  },
  "rules": {
    "no-underscore-dangle": ["error", {
      "allow": ["_cache", "_id", "_key"]
    }],
    "react/destructuring-assignment": 0
  }
}
