{
  "parser": "babel-eslint",
  "extends": [
    "@readme/eslint-config",
    "plugin:jsx-a11y/recommended",
    "plugin:react/recommended"
  ],
  "env": {
    "browser": true
  },
  "settings": {
    "import/resolver": {
      "node": {
        "extensions": [".js",".jsx"]
      }
    },
    "react": {
      "version": "detect"
    }
  },
  "rules": {
    "no-underscore-dangle": ["error", {
      "allow": ["_cache", "_id", "_key"]
    }],

    "react/jsx-sort-default-props": "error",
    "react/jsx-sort-props": ["error", {
      "reservedFirst": true
    }],

    "react/sort-prop-types": "error"
  }
}
