node_modules
coverage
.nyc_output
.yo-rc.json
.idea/*
lerna-debug.log
.DS_Store
*.hot-update.json
*.hot-update.js
*.hot-update.js.map

example/swagger-files/directory.json

example/dist
example/bundle.js
