{
  "branches": [
    "master",
    {
      "name": "next",
      "prerelease": true
    }
  ],
  "plugins": [
    [
      "@semantic-release/commit-analyzer",
      {
        "preset": "angular",
        "releaseRules": [
          {
            "type": "feat",
            "release": "minor"
          },
          {
            "type": "style",
            "release": "patch"
          },
          {
            "type": "refactor",
            "release": "patch"
          },
          {
            "scope": "skip",
            "release": false
          }
        ],
        "parserOpts": {
          "noteKeywords": [
            "BREAKING CHANGE",
            "BREAKING CHANGES",
            "BREAKING"
          ]
        }
      }
    ],
    [
      "@semantic-release/release-notes-generator",
      {
        "preset": "conventionalcommits",
        "presetConfig": {
          "types": [
            {
              "type": "feat",
              "section": "✨ New & Improved",
              "hidden": false
            },
            {
              "type": "refactor",
              "section": "✨ New & Improved",
              "hidden": false
            },
            {
              "type": "style",
              "section": "💄 Style Refinements",
              "hidden": false
            },
            {
              "type": "fix",
              "section": "🛠 Fixes & Updates",
              "hidden": false
            },
            {
              "type": "perf",
              "section": "🛠 Fixes & Updates",
              "hidden": false
            },
            {
              "type": "chore",
              "section": "🛠 Fixes & Updates",
              "hidden": false
            },
            {
              "type": "docs",
              "section": "📘 Tests & Docs",
              "hidden": false
            },
            {
              "type": "test",
              "section": "📘 Tests & Docs",
              "hidden": true
            },
            {
              "type": "build",
              "hidden": true
            },
            {
              "type": "ci",
              "hidden": true
            }
          ]
        },
        "parserOpts": {
          "noteKeywords": [
            "BREAKING CHANGE",
            "BREAKING CHANGES",
            "BREAKING"
          ]
        },
        "writerOpts": {
          "commitsSort": [
            "subject",
            "scope"
          ],
          "headerPartial": "## Version {{version}}"
        }
      }
    ],
    [
      "@semantic-release/changelog",
      {
        "changelogTitle": "Changelog\n==="
      }
    ],
    [
      "@semantic-release/npm",
      {
        "npmPublish": true,
        "tarballDir": "dist"
      }
    ],
    [
      "@semantic-release/github",
      {
        "successComment": "<img align=\"right\" height=\"100\" src=\"https://user-images.githubusercontent.com/33762/87258290-39d9df00-c457-11ea-8e26-2a36345e4448.png\" />\n\n## This ${issue.pull_request ? \"PR\" : \"issue\"} was ${issue.pull_request ? \"released\" : \"resolved\"}!\n\n🚀 Changes are included in [<b>v${nextRelease.version}</b>](https://github.com/readmeio/api-explorer/releases/tag/v${nextRelease.version})."
      }
    ],
    [
      "@semantic-release/git",
      {
        "assets": [
          "CHANGELOG.md",
          "package.json",
          "package-lock.json",
          "packages/**/{package,package-lock}.json",
          "packages/**/dist/*"
        ],
        "message": "Release v${nextRelease.version}\n\n${nextRelease.notes}\n<!--SKIP CI-->"
      }
    ]
  ]
}
