@import '~@readme/syntax-highlighter/node_modules/codemirror/lib/codemirror.css';
@import '~@readme/syntax-highlighter/node_modules/codemirror/theme/neo.css';

@mixin CodeTabs {
  $bgc-pre: #F6F8FA;
  $bgc-bar: darken(desaturate($bgc-pre, 17.46), 4.31);
  $radius: var(--md-code-radius, var(--markdown-radius, 3px));

  color: var(--md-code-text, #333);
  border-radius: $radius !important;
  overflow: hidden;

  &-toolbar {
    background: var(--md-code-tabs, $bgc-bar);
    display: flex;
    flex-flow: row nowrap;
    overflow: hidden;
    overflow-x: auto;
    -ms-overflow-style: none;
    -webkit-overflow-scrolling: touch;
    &::-webkit-scrollbar {
      display: none;
    }
    button {
      white-space: nowrap;
      transition: .123s ease;
      -webkit-appearance: none;
      appearance: none;
      display: inline-block;
      line-height: 2;
      padding: .5em 1em;
      border: none;
      background: transparent;
      outline: none;
      color: inherit;
      font: inherit;
      font-size: .75em;
      cursor: pointer;
    }
  }

  &.CodeTabs_initial &-toolbar button:first-child,
  &-toolbar button.CodeTabs_active {
    background: var(--md-code-background, $bgc-pre);
    color: var(--md-code-text, black);
    pointer-events: none;
  }

  &-toolbar button:not(.CodeTabs_active):hover {
    background: rgba(0, 0, 0, .075);
  }

  pre {
    border-radius: 0 0 $radius $radius !important;
    background: var(--md-code-background, $bgc-pre);
    margin-bottom: 0;
    &:not(.CodeTabs_active) { display: none }
  }

  &.CodeTabs_initial pre:first-child {
    display: block;
  }
}

.CodeTabs {
  @include CodeTabs;
  pre {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
  }
}
