html[ng-app="hub"] .markdown-body .CodeTabs {
  background: #eaeaea;
  border-radius: 0 0 3px 3px !important;

  pre {
    border-radius: 0 0 3px 3px !important;
    background: #f6f6f6;
  }

  pre:not(.CodeTabs_active) {
    display: none;
  }

  button {
    -webkit-appearance: none;
    appearance: none;
    display: inline-block;
    line-height: 2;
    padding: .5em 1em;
    border: none;
    background: transparent;
    outline: none;
    color: #333;
    font: inherit;
    font-size: .75em;
    cursor: pointer;
  }

  &.CodeTabs_initial button:first-child,
  button.CodeTabs_active {
    background: #f6f6f6;
    color: black;
    pointer-events: none;
  }

  button:not(.CodeTabs_active):hover {
    background: rgba(0, 0, 0, .075);
  }

  &.CodeTabs_initial pre:first-child {
    display: block;
  }
}
