- var c = block.data.title ? '' : 'no-title'
.magic-block-callout(class="type-#{block.data.type} #{c}")
  if block.data.title
    h3
      if block.data.type == 'info'
        i.fa.fa-info-circle(title="Info")
      if block.data.type == 'warning'
        i.fa.fa-exclamation-circle(title="Warning")
      if block.data.type == 'danger'
        i.fa.fa-exclamation-triangle(title="Danger")
      if block.data.type == 'success'
        i.fa.fa-check-square(title="Success")
      = block.data.title
  if !block.data.title
    span.noTitleIcon
      if block.data.type == 'info'
        i.fa.fa-info-circle(title="Info")
      if block.data.type == 'warning'
        i.fa.fa-exclamation-circle(title="Warning")
      if block.data.type == 'danger'
        i.fa.fa-exclamation-triangle(title="Danger")
      if block.data.type == 'success'
        i.fa.fa-check-square(title="Success")

  if block.data && block.data.body
    div.callout-body
      != marked(block.data.body)
