- var c = block.data.title ? '' : 'no-title'
.magic-block-callout(class="type-#{block.data.type} #{c}")
  if block.data.title
    h3
      if block.data.type == 'info'
        i.fa.fa-info-circle(title="Info")
      if block.data.type == 'warning'
        i.fa.fa-exclamation-circle(title="Warning")
      if block.data.type == 'danger'
        i.fa.fa-exclamation-triangle(title="Danger")
      if block.data.type == 'success'
        i.fa.fa-check-square(title="Success")
      = block.data.title
  if !block.data.title
    span.noTitleIcon
      if block.data.type == 'info'
        i.fa.fa-info-circle(title="Info")
      if block.data.type == 'warning'
        i.fa.fa-exclamation-circle(title="Warning")
      if block.data.type == 'danger'
        i.fa.fa-exclamation-triangle(title="Danger")
      if block.data.type == 'success'
        i.fa.fa-check-square(title="Success")
  
  
  if block.data && block.data.body
    div.callout-body
      != marked(block.data.body)

(!block.data.title) && (
  <span className="noTitleIcon">
{
(block.data.type ==='info') && (
<i className="fa fa-info-circle" title="Info"/>
)
}

{
(block.data.type ==='warning') && (
<i className="fa fa-exclamation-circle" title="Warning"/>
)
}

{
(block.data.type ==='danger') && (
<i className="fa fa-exclamation-triangle" title="Danger"/>
)
}

{
(block.data.type ==='success') && (
<i className="fa fa-check-square" title="Success"/>
)
}
</span>
)
