@mixin gfmCodeBaseStyles($background: #F6F8FA, $text: inherit) {
  code,
  kbd,
  pre {
    font-family: monospace, monospace;
    font-size: 1em
  }

  code,
  pre {
    font-family: SFMono-Regular, Consolas, Liberation Mono, Menlo, Courier, monospace;
    font-size: 12px
  }

  pre {
    margin-bottom: 0;
    margin-top: 0
  }

  code {
    background-color: var(--md-code-background, $background);
    border-radius: 3px;
    font-size: 85%;
    margin: 0;
    padding: .2em .4em
  }

  code {
    color: var(--md-code-text);
  }

  pre {
    word-wrap: normal
  }

  pre > code {
    background: 0 0;
    border: 0;
    font-size: 100%;
    margin: 0;
    padding: 0;
    white-space: pre;
    word-break: normal
  }

  pre {
    background-color: var(--md-code-background, $background);
    color: var(--md-code-text, $text);
    border-radius: var(--markdown-radius, 3px);
    border-radius: var(--md-code-radius, var(--markdown-radius, 3px));
    font-size: 85%;
    line-height: 1.45;
    overflow: auto;
    padding: 1em
  }

  pre code {
    background-color: transparent;
    border: 0;
    display: inline;
    line-height: inherit;
    margin: 0;
    max-width: auto;
    overflow: visible;
    padding: 0;
    word-wrap: normal
  }

  kbd {
    background-color: var(--d-code-background, $background);
    border: 1px solid #d1d5da;
    border-bottom-color: #c6cbd1;
    border-radius: 3px;
    box-shadow: inset 0 -1px 0 #c6cbd1;
    color: #444d56;
    display: inline-block;
    font: 11px SFMono-Regular, Consolas, Liberation Mono, Menlo, Courier, monospace;
    line-height: 10px;
    padding: 3px 5px;
    vertical-align: middle
  }
}

@mixin copyCodeButton {
  button.rdmd-code-copy {
    DISPLAY: none !important; // hide by default
    
    & {
      -webkit-appearance: unset;
      color: var(--md-code-text, inherit);
      background: transparent;
      backdrop-filter: blur(6px);
      border: none;
      margin: .75em .6em 0 0;
      padding: .33em .6em;
      font: inherit;
      border-radius: 2px;
      outline: none !important;
      box-shadow: inset 0 0 0 1px rgba(#8B8B8B, 0.33);
      background: var(--md-code-background, rgba(white, .1));
      transition: .15s ease-out;
    }

    &:not(:hover) {
      &:before, &:after {
        opacity: .66;
      }
    }

    &:hover {
      background: rgba(white, .125);
    }

    &:active {
      background: rgba(black, .088);
      &:before, &:after {
        opacity: .75;
      }
    }

    &:before, &:after {
      display: inline-block;
      font: normal normal normal 1em/1 "Font Awesome 5 Free", "FontAwesome";
      text-rendering: auto;
      -webkit-font-smoothing: antialiased;
    }
    &:before {
      transition: .3s .15s ease;
      content: "\f0c5"
    }
    &:after {
      transition: .3s 0s ease;
      content: "\f00c" !important;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%) scale(.33);
      opacity: 0 !important;
    }

    &_copied {
      pointer-events: none;
      &, * {
        color: var(--md-code-text, green) !important;
        opacity: 1;
      }
      &:before {
        transition: .3s 0s ease;
        transform: scale(.33);
        opacity: 0 !important;
      }
      &:after {
        transition: .3s .15s ease;
        transform: translate(-50%, -50%) scale(1);
        opacity: 1 !important;
      }
    }
  }
  

  pre {
    position: relative;

    button.rdmd-code-copy {
      display: inline-block !important;
      position: absolute;
      right: 0;
      top: 0;
    }

    & {
      // manage overflow scrolling
      overflow: hidden;
      padding: 0;
      > code {
        display: block !important;
        overflow: auto;
        padding: 1em;
        max-height: 90vh;
      }
    }
  }
}

.markdown-body {
  // --md-code-background: #F6F8FA;  
  @include gfmCodeBaseStyles;
  @include copyCodeButton;
}