@import './blocks/slash-search/style.css';

.markdown-body > pre {
  margin-top: 16px;
  margin-bottom: 16px;
  
}
.markdown-body blockquote h1:last-child,
.markdown-body blockquote h2:last-child {
  border-bottom: 0;
}
.markdown-body h5,
.markdown-body h6 {
  font-size: .9em;
}
.markdown-body img[align=left] {
  margin-right: 20px;
}
.markdown-body img[align=right] {
  margin-left: 20px;
}
.markdown-body img[align=center] {
  display: block;
  margin: 20px auto;
}
.markdown-body .task-list-item input {
  margin: 0 .5em .25em -1.25em;
}

.tabs > .tab-panel:not(.tab_active) {
  display: none;
}

.tabs.tabs_initialState > .tab-panel:first-of-type {
  display: block;
}

.tabs > button {
  -webkit-appearance: none;
  border: 1px solid #DDD;
  margin: 0 0 -1px;
  position: relative;
  z-index: 4;
  padding: 4px 8px;
  font: inherit;
  font-size: .75em;
}

.tabs > button.active_tab,
.tabs.tabs_initialState > button:first-of-type {
  background: #f6f8fa;
  box-shadow: 1px 2px 0 -2px #ddd, 1px 2px 0 0 #f6f8fa;
  border-bottom-color: #f6f8fa;
}

.tabs > button + button {
  margin-left: -1px;
}

.tabs {
  /* background: #f6f8fa; */
  display: flex;
  flex-flow: wrap row;
  align-items: center;
  margin-bottom: 16px;
}

.tabs > pre {
  margin-bottom: 0;
  flex: 0 100%;
  border: 1px solid #DDD;
  position: relative;
}