.heading.heading {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  .heading-text {
    flex: 1 100%;
  }
  .heading-anchor {
    top: -1rem !important;
  }
  .heading-anchor, .heading-anchor-icon {
    position: absolute !important;
    display: inline !important;
    order: -1;
    right: 100%;
    top: unset !important;
    margin-right: -.8rem;
    padding: .8em .2em .8em 0 !important;
    font-size: .8rem !important;
    text-decoration: none;
    color: inherit;
    transform: translateX(-100%);
    transition: .2s ease;
    &:hover {
      opacity: 1;
    }
  }
  &:not(:hover) .heading-anchor-icon {
    opacity: 0;
  }
}