.markdown-body h5,
.markdown-body h6 {
  font-size: .9em;
}


.markdown-body blockquote h1:last-child,
.markdown-body blockquote h2:last-child {
  border-bottom: 0;
}


.markdown-body > * {
  margin-top: 15px;
  margin-bottom: 15px !important;
}


.markdown-body img[align=left] {
  margin-right: 20px;
}
.markdown-body img[align=right] {
  margin-left: 20px;
}
.markdown-body img[align=center] {
  display: block;
  margin: 20px auto;
}


.markdown-body .task-list-item input {
  margin: 0 .5em .25em -1.25em;
}

.markdown-body a {
  transition: .3s;
  text-decoration: underline;
  &:not(:hover) {
    text-decoration-color: transparent;
  }
  code {
    display: inline-block;
    text-decoration: underline;
    transition: .3s;
  }
  &:hover code {
    color: inherit;
  }
  &:not(:hover) code {
    text-decoration-color: transparent;
  }
}

.markdown-body .embed {
  padding: 15px;
  background: #eeeeee;
  overflow: hidden;
  border-radius: 3px;
  &-media {
    display: flex;
    justify-content: center;
    >:only-child {
      flex: 1;
      margin: -15px;
      border-radius: 0 !important;
    }
  }
}
