@import './gfm.scss';
@import './components.scss';

:root {
  // --markdown-radius: 3px;
  // --markdown-edge: #eee;
  --markdown-text: inherit;
  --markdown-title: inherit;
  --markdown-title-font: inherit;
  --markdown-font: inherit;
  --markdown-font-size: inherit;
  --markdown-line-height: 1.5;
}

.field-description,
.markdown-body {
  @include gfm;
  font-size: var(--markdown-font-size, 14px);
}