@import './gfm.scss';
@import './components.scss';

:root {
  // --markdown-radius: 3px;
  // --markdown-edge: #eee;
  --markdown-font: inherit;
  --markdown-text: inherit;
  --markdown-title: inherit;
  --markdown-lineHeight: 1.5;
}

.field-description,
.markdown-body {
  @include gfm;
  font-size: 14px;
}