@mixin callout ($l-offset: 1.33rem) {
  --background: #{lighten(#dfe2e5, 8.75%)};
  --border: #{lighten(#6a737d, 12.5%)};

  background: var(--background);
  border-color: var(--border);
  color: var(--text);
  padding: $l-offset;

  &_info {
    $color: #46b8da;
    --background: #e3edf2;
    --title: #{$color};
    --border: #{lighten($color, 5%)}; // should be #5bc0de
  }

  &_warn, &_warning {
    $color: #eea236;
    --background: #fcf8f2;
    --title: #{$color};
    --border: #{lighten($color, 5%)};
  }

  &_ok, &_okay, &_success {
    $color: #489e49;
    --background: #f3f8f3;
    --title: #{$color};
    --border: #{lighten($color, 5%)}; // should be #50af51
  }

  &_err, &_error {
    $color: #d43f3a;
    --background: #fdf7f7;
    --title: #{$color};
    --border: #{lighten($color, 5%)};  // should be #d9534f
  }

  > * {
    margin-left: $l-offset;
    position: relative;
  }
  > ul, > ol {
    padding-left: 0;
  }

  a {
    color: inherit;
  }

  h3,
  h4 {
    color: var(--title, --text);
    margin-bottom: calc(#{$l-offset} * .5);
    &.floated {
      float: left;
    }
    > * {
      color: inherit;
      margin: 0;
    }  
    &:first-letter {
      float: left;
      margin-left: calc(-#{$l-offset} - .5em);
      margin-right: -.25rem;
    }
  }
}

.callout.callout {
  @include callout;
}
